/*******************************
          Named colors
*******************************/

$white: #ffffff;
$porcelain: #edf1f2;
$carnation: #f05050;
$ebony-clay: #2e3344;
$bright-gray: #32374a;
$bright-sun: #fad733;
$picton-blue: #23b7e5;
$mystic: #dde6e9;