#app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

main {
  flex: 1;
  & .view {
    padding: 20px;
  }
}

.fa-icon {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

html {
  font-size: 100%;
}

body {
  background: $porcelain;
  font-family: 'Ubuntu', 'Lato', 'Roboto', sans-serif;
}
