nav.sidebar-nav {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  & ul {
    margin: 0;
    padding: 0;
  }
  &.folded {
    & .only-unfolded {
      display: none;
    }
    & .only-folded {
      display: inline-block;
    }
  }
  &.unfolded {
    & .only-unfolded {
      display: inline-block;
    }
    & .only-folded {
      display: none;
    }
  }
  & ul.brand {
    height: 60px;
    & .brand-item {
      height: 100%;
      padding-left: 20px;
      width: 100%;
      background: $carnation;
      color: whitesmoke;
      font-size: 1rem;
      & h1 {
        margin: 0;
        line-height: 60px;
      }
    }
  }
  & ul.items {
    background: $bright-gray;
    list-style-type: none;
    font-size: 0.85rem;
    height: 100%;
    & .fa-icon {
      position: relative;
      top: 2px;
      margin-right: 10px;
    }
    & li {
      transition: all 0.3s;
      padding: 15px 10px 15px 20px;
      &:hover {
        background: lighten($bright-gray, 3%);
        cursor: pointer;
      }
      & a {
        transition: all 0.3s;
        opacity: 0.7;
        color: whitesmoke;
        text-decoration: none;
      }
      &.active {
        background: lighten($bright-gray, 3%);
        & a {
          opacity: 1;
        }
      }
    }

  }
}